{% extends 'Journal/base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Electronic school journal' %} API
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h3 class="display-3">{% trans 'Electronic school journal' %} API</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% if token %}
                {% trans 'Your token' %}: {{ token.key }}
            {% else %}
                {% trans 'You currently do not have a token' %}
            {% endif %}
            <br/><br/>

            <div class="row">

                <form action="{% url 'api' %}" method="post">
                    {% if not token %}

                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary">

                                {% trans 'Generate token' %}

                            </button>
                        </div>

                    {% endif %}

                    {% if token %}
                        <div class="col-sm">
                            <button type="submit" class="btn btn-warning">
                                {% trans 'Destroy my token' %}
                            </button>
                        </div>

                    {% endif %}

                </form>
            </div>

        </div>
    </div>


{% endblock %}
