{% extends 'Journal/base.html' %}

{% block title %}
    Classes
{% endblock %}


{% block body %}

    <h1>Classes management</h1>

    <br />
    <table style="width:100%">
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for title in titles %}
            <tr>
                <td>{{ title }}</td>

                <td>
                    <form action="{% url 'class_edit' title %}" method="post">
                        {% for form in editforms %}
                            {{ form }}
                        {% endfor %}

                        <input type="submit" value="Edit">
                    </form>
                </td>

                <form action="{% url 'class_delete' title %}" method="post">
                    <td>
                        <input type="submit" value="Delete">
                    </td>
                </form>

            </tr>
        {% endfor %}

    </table>

    <br /><br />
    <h3>New Class</h3>

    <form action="{% url 'class_add' %}" method="post">
        {% for forms in addforms %}
            {{ forms.label }}
            {{ forms }}
        {% endfor %}

        <input type="submit" value="Add">
    </form>


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

{% endblock %}
