{% extends 'Journal/base.html' %}

{% block title %}
    Classes
{% endblock %}


{% block body %}

    <h1>Classes management</h1>

    <div class="alert alert-success" role="alert">
        {{ msg }}
    </div>

    <br />
    <table style="width:100%">
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for title in titles %}
            <tr>
                <td>{{ title }}</td>

                <td>
                    {% for form in forms %}
                        {{ form }}
                    {% endfor %}

                    <input type="submit" value="Edit">
                </td>

                <form action="{% url 'class_delete' title %}" method="post">
                    <td>
                        <input type="submit" value="Delete">
                    </td>
                </form>

            </tr>
        {% endfor %}

    </table>


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

{% endblock %}
