{% extends 'Journal/base.html' %}

{% block title %}
    Classes management
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="display-3">Classes management</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="accordion" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-controls="collapseTwo">
                                Adding a new class
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <form action="{% url 'classes' %}"
                                  method="post">

                                <div class="row">
                                    {% for field in addforms %}
                                        <div class="col-5 col-sm-5">
                                            {{ field.label }}
                                            {{ field }}
                                            <br/>
                                        </div>
                                    {% endfor %}
                                </div>

                                <br/>
                                <button type="submit" class="btn btn-outline-dark col-md-1">
                                    Add
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <div class="row">
                {% for c in schoolclasses %}

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Class {{ c.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {% if c.teacher %}
                                        <a href="">Head teacher: {{ c.teacher.first_name }} {{ c.teacher.last_name }}</a>

                                    {% else %}
                                        The head teacher is not defined for this class
                                    {% endif %}
                                </h6>

                                <a href="#" class="card-link">More ...</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}
