{% extends 'Journal/base.html' %}

{% block title %}
    Home work
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="display-3">Home work</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% if request.user.groups.get.name == 'Student' %}
            {% endif %}

            {% if request.user.groups.get.name == 'Teacher' %}

                {% if error %}
                    <div class="col-md-3">
                        <div class="alert alert-danger" role="alert">
                            There was an error adding a new homework
                        </div>
                    </div>
                {% endif %}

                {% if success %}
                    <div class="col-md-2">
                        <div class="alert alert-success" role="alert">
                            New homework added successfully
                        </div>
                    </div>
                {% endif %}

                <div class="accordion" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-controls="collapseTwo">
                                    Homework assignment
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                <form action="{% url 'homework' %}"
                                      method="post">


                                    <div class="row">
                                        {% for field in forms %}
                                            <div class="col-5 col-sm-5">
                                                {{ field.label }}
                                                {{ field }}
                                                <br/>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <br/>
                                    <button type="submit" class="btn btn-outline-dark col-md-1">
                                        Add
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                </div>



                </div>
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            {% for h in homeworks %}

                                <div class="col-sm-3">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Homework for "{{ h.schoolclass.title }}"</h5>
                                            <h6 class="card-subtitle mb-2 text-muted"></h6>

                                            <a href="#" class="card-link"></a>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endif %}
{% endblock %}
