{% extends 'Journal/base.html' %}

{% load i18n %}



{% block title %}

    {% trans 'Electronic journal' %}

{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="display-1">
                {% trans 'Electronic school Journal' %}
            </h1>

            <i>
                <mark>{% trans 'Digitalization' %}</mark>

                {% trans 'is an important step in the twenty-first century' %}
            </i>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h4 class="display-4">{% trans 'What'%}?</h4>

            {% trans '“Electronic diary and journal” - a service that allows participants in the educational process to receive information about training schedules, current and final grades and homework online. Also, electronic school workflow should ensure a reduction in the administrative burden on educational institutions. In addition, various systems of electronic diaries can support other, additional functions - electronic student portfolios, news feeds, social networks and so on.' %}


        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h4 class="display-4">{% trans 'Why' %}?</h4>

            <ul>
                <li>
                    {% trans 'Less paperwork' %}
                </li>

                <li>
                    {% trans 'Honest evaluation' %}
                </li>

                <li>
                    {% trans 'You will never lose him' %}
                </li>
            </ul>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h4 class="display-4">{% trans 'What for'%}?</h4>

            <ul>
                <li>
                    {% trans 'Teacher curriculum development' %}
                </li>

                <li>
                    {% trans 'Compilation of statistics on attendance / academic performance of students' %}
                </li>

                <li>
                    {% trans 'Additional remote tasks' %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
