{% extends 'Journal/base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Home page' %}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="display-3">{% trans 'Hello' %} {{ request.user.first_name }}</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            {% if request.user.groups.name == 'Student' %}

            {% endif %}

            {% if request.user.groups.name == 'Teacher' %}
            {% endif %}

            {% if request.user.groups.name == 'Administrator' %}
            {% endif %}

        </div>
    </div>
{% endblock %}
