{% extends 'Journal/base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Journal - Login' %}
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="display-1">{% trans 'Login' %}</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            {% if msg %}
                <div class="col-md">
                    <div class="alert alert-danger" role="alert">
                        {{ msg }}<br/>
                        {% if forms.errors %}
                            {% for field in forms %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                <div class="form-group">
                    <div class="col-md-3">
                        {% for form in forms %}
                            {{ form.label }}
                            {{ form }}
                            <br/>
                        {% endfor %}
                    </div>
                </div>

                <div class="loginbutton">
                    <button type="submit" class="btn btn-outline-dark">{% trans 'Go' %}</button>
                </div>
            </form>
        </div>
    </div>

    <style>
        .loginbutton {
            margin-left: 15px;
        }
    </style>
{% endblock %}
