{% extends 'Journal/base.html' %}

{% block title %}
    Schedule
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="display-1">Schedule</h1>

            <div class="dropdown">

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if not class_title %}
                        Choose class
                    {% else %}
                        {{ class_title }}
                    {% endif %}
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for t in titles %}
                        <a class="dropdown-item" href="{% url 'class_schedule' t %}">{{ t }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


    {% if class_title %}
        <div class="row row row-cols-1 row-cols-md-2 row-cols-lg-5">
            {% for s in schedules %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-muted">{{ s.day.title }}</h6>
                            <h3 class="mb-10">
                                {% for s in schedules %}
                                    {{ s.lesson.title }}
                                    {% endfor %}
                            </h3>
                            <p class="text-muted mb-0">
                                <span class="float-right">Teacher</span>
                            </p>
                            <br/>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">
                                        <i class="mdi mdi-comment-arrow-right"title="Add"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        <i class="mdi mdi-comment-edit" title="Edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        <i class="mdi mdi-comment-alert" title="Delete"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}

{% endblock %}