{% extends 'Journal/base.html' %}

{% block title %}
    Schedule
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="display-1">Schedule</h1>

            <div class="btn-group">

                {% if request.user.groups.get.name != 'Student' %}
                    <div class="dropdown">

                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if not class_title %}
                                Choose class
                            {% else %}
                                {{ class_title }} <span class="badge badge-danger">!</span>
                            {% endif %}
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for t in titles %}
                                <a class="dropdown-item" href="{% url 'class_schedule' t 'September' '1-7' %}">{{ t }}
                                    {% if not schedules %}
                                        <span class="badge badge-danger">
                                    !

                                </span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div>

            {% if class_title %}
                <div class="btn-group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ month_title }}
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for month in months %}
                                <a class="dropdown-item"
                                   href="{% url 'class_schedule' class_title month week_numbers %}">{{ month }}</a>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="btn-group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ week_numbers }}
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for week in weeks %}
                                <a class="dropdown-item"
                                   href="{% url 'class_schedule' class_title month_title week %}">{{ week }}</a>
                            {% endfor %}
                        </div>

                    </div>
                </div>


                <br/>

                {% if request.user.groups.get.name != 'Student' %}
                    <div class="not-edit">
                        <br/>
                        <a class="btn btn-outline-primary" onclick="editmode()" role="button">Edit mode</a>
                    </div>
                {% endif %}

                <div class="edit">
                    <br/>
                    <button type="button" class="btn btn-primary" disabled>In edit mode</button>

                    <button type="button" class="btn btn-outline-danger" onclick="cancel()"
                            data-toggle="tooltip" title="Cancel">×
                    </button>
                </div>
                </div>
            {% endif %}

    </div>


    <div class="row row row-cols-1 row-cols-md-2 row-cols-lg-5">
        {% for day in days %}

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">{{ day.title }}</h6>


                        <h3 class="mb-10">
                            {% for schedule_day in schedules_days %}
                                {% for schedule in schedule_day %}
                                    {% if schedule.day == day %}
                                        {{ schedule.lesson }}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </h3>


                        <p class="text-muted mb-0">
                            {{ schedule.date }}<br/>
                            {{ schedule.start }}<br/>
                            {{ schedule.end }}
                        <div class="edit">
                            <br/>
                            <label for="lesson">Adding a lesson:</label>

                            <form action="{% url 'schedule_add' day.title class_title %}" method="get">
                                <div class="col-md-8">
                                    <select class="form-control" id="lesson" name="lesson_selection">
                                        {% for lesson in lessons %}
                                            <option value="{{ lesson }}">{{ lesson.title }}</option>
                                        {% endfor %}
                                    </select>

                                    <label for="date"></label>
                                    <input class="form-control" id="date" name="date_enter">

                                    <br/>
                                    <button style="margin-left: 15px" type="submit"
                                            class="btn btn-outline-dark">
                                        Add
                                    </button>

                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <style>
        .not-edit {
            display: block;
        }

        .edit {
            display: none;
        }
    </style>


    <script>
        div_notedit = document.getElementsByClassName('not-edit');
        div_edit = document.getElementsByClassName('edit');

        function editmode() {
            for (var i = 0; i < div_notedit.length; i++) {
                div_notedit[i].style.display = 'none';
            }

            for (var i2 = 0; i2 < div_edit.length; i2++) {
                div_edit[i2].style.display = 'block';
            }
        }


        function cancel() {
            for (var i3 = 0; i3 < div_notedit.length; i3++) {
                div_notedit[i3].style.display = 'block';
            }

            for (var i4 = 0; i4 < div_edit.length; i4++) {
                div_edit[i4].style.display = 'none';
            }
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

{% endblock %}