{% extends 'Journal/base.html' %}

{% block title %}
    Schedule
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="display-1">Schedule</h1>

            <i>
                <mark>Digitalization</mark>
                is an important step in the twenty-first century</i>
        </div>
    </div>

    <br/>
    <div class="card">
        <div class="card-body">
            <h3 class="display-3">Choose a class:</h3>

            <label for="choose"></label>
            <select id="choose">
                <option>
                    {% for c in classes %}
                        {{ c.title }}
                    {% endfor %}
                </option>
            </select>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="display-4">Monday:</h4>
            <br/>
                <h6>1. Math</h6>
                <h6>2. Math</h6>
                <h6>3. Biology</h6>
                <h6>4. Geography</h6>
                <h6>5. Sport</h6>
                <h6>6. Sport</h6>
        </div>
    </div>




{% endblock %}