{% extends 'Journal/base.html' %}

{% block title %}
    Users management
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="display-3">Users management</h3>
        </div>
    </div>

    {% if error %}
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">
                There was an error adding a new user
            </div>
        </div>
    {% endif %}

    {% if success %}
        <div class="col-md-2">
            <div class="alert alert-success" role="alert">
                New user added successfully
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <div class="accordion" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-controls="collapseTwo">
                                Adding a new user
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <form action="{% url 'users' %}"
                                  method="post">


                                <div class="row">
                                    {% for field in forms %}
                                        <div class="col-4 col-sm-2">
                                            {{ field.label }}
                                            {{ field }}
                                            <br/>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <label id="grouplabel" class="control-label" for="group">Group</label>
                                    <br/>
                                    <div class="col-4 col-sm-2">
                                        <select id="group" onchange="value_check()" class="form-control">
                                            {% for group in groups %}
                                                <option value="{{ group.name }}">{{ group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <label id="classlabel" class="control-label"
                                           for="student_class">Class </label>
                                    <div class="col-2 col-sm-2">
                                        <select id="student_class" class="form-control">
                                            {% for schoolclass in schoolclasses %}
                                                <option value="{{ schoolclass.title }}">{{ schoolclass.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <br/>
                                <button type="submit" class="btn btn-outline-dark col-md-1">
                                    Add
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for u in users %}

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">User "{{ u.username }}"
                                    {% if request.user.username == u.username %}
                                        (You)
                                    {% endif %}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">

                                    {% if u.first_name %}
                                        First name: {{ u.first_name }}
                                    {% else %}
                                        First name is not defined
                                    {% endif %}

                                    <br/>

                                    {% if u.last_name %}
                                        Last name: {{ u.last_name }}
                                    {% else %}
                                        Last name is not defined
                                    {% endif %}

                                    <br/>

                                    {% if u.email %}
                                        Email: {{ u.email }}
                                    {% endif %}

                                    <br/>
                                    <br/>

                                    {% if u.groups.first.name %}
                                        Group: {{ u.groups.first.name }}

                                    {% else %}
                                        No group defined for this user!

                                    {% endif %}

                                    <br/>
                                </h6>

                                <a href="#" class="card-link">Profile -></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <style>
        #group {
            margin-top: 40px;
        }

        #grouplabel {
            margin-left: 225px;
            margin-top: 45px;
        }

        #student_class {

            margin-top: 40px;

        }


        #classlabel {
            margin-left: 10px;
            margin-top: 45px;
        }

    </style>

    <script>
        function value_check() {
            let class_selector = document.getElementById('student_class');
            let class_label = document.getElementById('classlabel');

            let group_selector = document.getElementById('group');
            let group_choice = group_selector[group_selector.selectedIndex].value;

            if (group_choice === "Student") {
                class_selector.hidden = false;
                class_label.hidden = false
            } else {
                class_selector.hidden = true;
                class_label.hidden = true;
            }
        }
    </script>

{% endblock %}
