{% extends 'Journal/base.html' %}

{% block title %}
    Users management
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="display-3">Users management</h3>
        </div>
    </div>

    {% if error %}
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">
                There was an error adding a new user

                <!--
                With username:
                {{ forms.username.errors.as_text }}

                With first
                {{ forms.first_name.errors.as_text }}

                With last
                {{ forms.last_name.errors.as_text }}

                With password
                {{ forms.password.errors.as_text }}

                With email
                {{ forms.email.errors.as_text }}

                With group
                {{ forms.group.errors.as_text }}

                With class_choose
                {{ forms.schoolclass.errors.as_text }}


                {{ image_form.image.errors.as_text }}

                -->
            </div>
        </div>
    {% endif %}

    {% if success %}
        <div class="col-md-2">
            <div class="alert alert-success" role="alert">
                New user added successfully
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <div class="accordion" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-controls="collapseTwo">
                                Adding a new user
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <form action="{% url 'users' %}" method="post" enctype="multipart/form-data">


                                <div class="row">
                                    {% for field in forms %}
                                        <div class="col-5 col-sm-5">
                                            {{ field.label }}
                                            {{ field }}
                                            <br/>
                                        </div>
                                    {% endfor %}


                                    <div class="col-5 col-sm-5">
                                        {{ image_form.as_p }}
                                    </div>
                                </div>


                                <br/>
                                <button type="submit" class="btn btn-outline-dark col-md-1">
                                    Add
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for u in users %}

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">User "{{ u.username }}"
                                    {% if request.user.username == u.username %}
                                        (You)
                                    {% endif %}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">

                                    {% if u.first_name %}
                                        First name: {{ u.first_name }}
                                    {% else %}
                                        First name is not defined
                                    {% endif %}

                                    <br/>

                                    {% if u.last_name %}
                                        Last name: {{ u.last_name }}
                                    {% else %}
                                        Last name is not defined
                                    {% endif %}

                                    <br/>

                                    {% if u.email %}
                                        Email: {{ u.email }}
                                    {% endif %}

                                    <br/>
                                    <br/>

                                    {% if u.groups.first.name %}
                                        Group: {{ u.groups.first.name }}

                                    {% else %}
                                        No group defined for this user!

                                    {% endif %}

                                    <br/>
                                    {% if u.groups.get.name == 'Student' %}
                                        {% if u.schoolclass_set.first %}
                                        Class {{ u.schoolclass_set.first.title }} student.

                                        {% else %}
                                            No class defined for this user.
                                            {% endif %}
                                    {% endif %}

                                    <br/>
                                </h6>

                                <a href="{% url 'profile' u.id %}" class="card-link">Profile -></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


    <script>


    </script>

{% endblock %}
